/*Declare width and height of each div to 555px and 987px (same as dimensions of each image) */
body {
    text-align: center;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-image: linear-gradient(rgb(202, 199, 199), #fff);
}

.custom-hr{
    display: block;
    margin-top: 2rem;
    border-bottom: 3px double rgb(145, 140, 142);
    margin-bottom: 2rem;
    min-width: 400px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1{
    color: black !important;
}

.title{
    font-family: 'Arizonia', cursive;
}

/******* Display section  ********************************************/
#display-container{
    align-self: center;
    align-content: center;
    margin: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 382px;
    height: 500px;
    /*200px wider than divs inside */
}

#background{
    position: absolute;
    width: 382px;
    height: 500px;
    margin: 0;
    align-content: center;
}

#woman {
    position: absolute;
    width: 382px;
    height: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-right: 2px double whitesmoke;
    border-left: 2px double whitesmoke;
}

#dress {
    position: absolute;
    width: 382px;
    height: 500px;   
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/***STYLE 1***************/
.woman-1{
    background-image: url("../img/woman1.png");
}

.dress1-1{
    background-image: url('../img/dress1-1.png');
}

.dress2-1{
    background-image: url('../img/dress2-1.png');
}

.dress3-1{
    background-image: url('../img/dress3-1.png');
}

/***STYLE 2***************/

.woman-2{
    background-image: url("../img/woman2.png");
}

.dress1-2{
    background-image: url('../img/dress1-2.png');
}

.dress2-2{
    background-image: url('../img/dress3-2.png');
}

.dress3-2{
    background-image: url('../img/dress3-2.png');
}

/***STYLE 3***************/

.woman-3{
    background-image: url("../img/woman3.png");
}

.dress1-3{
    background-image: url('../img/dress1-3.png');
}

.dress2-3{
    background-image: url('../img/dress2-3.png');
}

.dress3-3{
    background-image: url('../img/dress3-3.png');
}

/*buttons*/
input {
    display: block;
    padding: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(148, 125, 122);
    color: whitesmoke;
    text-align: center;
    margin-top: 0.5rem;
    cursor: pointer;
}
/*********************************************************/
/*Options section*/
.active-option{
    background-color: rgba(255, 255, 255, 0.822);
}

.opt-num{
    background-color: white;
    border: 1px solid rgb(150, 147, 147);
    width: 15px;
    height: 15px;
    padding-bottom: 5px;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border-radius: 50%;
}
.opt-num-selected{
    background-color: rgb(95, 77, 88);
    border: none;
}

.option{
    width: 150px;
    height:150px;
    align-self: center;
    margin: 2px;
    cursor: pointer;
}

.option:hover{
    border-bottom: 4px double rgba(255, 255, 255, 0.822);
}

.style-option{
    background-position: center;
    background-size: 120%;
    background-repeat: none;
}

.fabric-selected{
    border-bottom: 5px solid white;
}

#style-1{
    background-image: url('../img/styles/style1.png');
}

#style-2{
    background-image: url('../img/styles/style2.png');
}

#style-3{
    background-image: url('../img/styles/style3.png');
}

#fabric-1{
    background-image: url('../img/fabrics/ankara1.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: none;
}
#fabric-2{
    background-image: url('../img/fabrics/ankara2.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: none;
}
#fabric-3{
    background-image: url('../img/fabrics/ankara3.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: none;
}