/*Declare width and height of each div to 555px and 987px (same as dimensions of each image) */
body {
    text-align: center;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color:rgb(236, 226, 230)
}

h1 {
    border-bottom: 2px solid black;
}
/******** Navbar *************************************************************/
.nav-link{
    color: tomato;
    margin: 0;
    padding: 1rem;
    margin-bottom: 0;

}

.active{
    border: 1px solid gray;
    box-shadow: 0px 0px 0.2vh 0px rgba(60,30,0,0.05); 
    color: white;
    border-bottom: none;
    background-color: rgb(196, 153, 178);
}

/******* Display section  ********************************************/
#custom-container{
    align-self: center;
    align-content: center;
    margin: auto;
    width: 382px;
    height: 500px;
    /*200px wider than divs inside */
}

#background{
    position: absolute;
    width: 382px;
    height: 500px;
    margin: 0;
    align-content: center;
    /*background-image: url("../img/resized_background.png");*/
}

#hairback {
    position: absolute;
    width: 382px;
    height: 500px;
}

#shoes{
    position: absolute;
    width: 555px;
    height: 987px;
} 

#woman {
    position: absolute;
    width: 382px;
    height: 500px;
    background-image: url("../img/woman.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dress1{
    position: absolute;
    width: 382px;
    height: 500px;   
    background-image: url('../img/dress1.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dress2{
    position: absolute;
    width: 555px;
    height: 987px;
    background-image: url('../img/dress2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.dress3{
    position: absolute;
    width: 555px;
    height: 987px;
    background-image: url('../img/dress3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/*buttons*/
input {
    display: block;
    padding: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(148, 125, 122);
    color: whitesmoke;
    text-align: center;
    margin-top: 0.5rem;
    cursor: pointer;
}
/*********************************************************/
/*Options section*/
.options-display{
    background-image: linear-gradient(rgb(196, 153, 178), rgb(212, 204, 204));
    margin-top: 0;
}
.option{
    width: 150px;
    height:150px;
    align-self: center;
    margin: 2px;
    box-shadow: 10px 10px black;
}

.option:hover{
    border-bottom: 4px solid whitesmoke;
}

#fabric-1{
    background-image: url('../img/fabrics/ankara1.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: none;
}